p {
	color:yellow;

   

font-family: 'Dancing Script', cursive;

   }

body {
   background-color:magenta;
}

.navbar-inverse {

background: yellow;

}

.navbar-inverse .navbar-nav > li > a {

	color:red;
}

.navbar-inverse .navbar-brand {

color:blue;

}


